@model sistemaLojasPet.Entidades.Loja

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioFuncionamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioFuncionamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnderecoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnderecoID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
